<section>
	<div class="container">
		<div class="row" id="start">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
				<div id="loginPanel" class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Sign in / Sign Up</h2>
					</div>
					<div class="panel-body">
						<p>Manage your tweets in a different way!</p>
						<button class="btn btn-lg btn-block btn-twitter btn-social" onclick="/login">
							<i class="fa fa-twitter"></i>Sign in with Twitter
						</button>
						<p>
							<small>* We do not tweet without your permission.</small>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row" id="listed" style="display:none;">
			<div class="col-md-9 col-md-offset-3">
				<ul class="grid">
					<li>
						<h3>Loading...</h3>
						<h4></h4>
					</li>
				</ul>	
			</div>
		</div> -->
	</div>
	<div id="more" class="pull-right">
		<i class="fa fa-refresh fa-1x"></i>
	</div>
</section>