<section>
	<div class="container">
		<div class="row" id="listed" style="display:none;">
			<div class="col-md-9 col-md-offset-3">
				<ul class="grid">
					<li>
						<h3>Loading...</h3>
						<h4></h4>
					</li>
				</ul>	
			</div>
		</div>
	</div>
	<div id="more" class="pull-right">
		<i class="fa fa-refresh fa-1x"></i>
	</div>
</section>
<!-- only logged -->
<aside>
	<div class="row">
		<div class="col-md-12">
			<form name="postTweet" id="postTweet">
				<div class="form-group">
					<textarea class="form-control" rows="5" col="3" onkeyup="countChar(this)" placeholder="Start here.." id="tuit" name="tuit"></textarea>
					<small class="pull-right" style="visibility:hidden;">
						<span id="charNum">0</span> characters
					</small>
				</div>
				<button id="sendIt" class="btn btn-lg btn-block btn-default disabled" type="submit">
					Send it!
				</button>
				<div id="stopped" style="display:none;"></div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 id="name"></h3>
			<p id="description"></p>
			<p id="join"></p>
			<p id="url"></p>
		</div>
	</div>
</aside>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				Hello World
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div> -->