body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
section {
	margin: 250px auto 0 auto;
}
.leblue, .panel-heading {
	background-color: #4997EE !important;
}
nav a, .panel-heading, footer a {
	color: #fff !important;
}
.panel-heading {
	padding: 20px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #2D5896;
	color: #fff;
	padding: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #2D5896 !important;
}
.navbar-brand {
	font-size: 3em !important;
}
nav {
	padding: 20px !important;
}

aside {
	background-color: #254B7F;
	color: #FFF;
	height: 100%;
	width: 300px;
	top: 0;
	left: 0;
	position: absolute;
	padding: 100px 20px 0 20px;
}

.btn {
	margin: 50px auto !important;
}

#listed div {
	/*background-color: #f90 !important;*/
	top: -150px;
}

#listed:hover {
	background-color: #ddd;
}

#listed a i {
	color: #ddd;
	font-size: 20px;
	padding-right: 15px;
}
#listed a:hover i {
	color: #aaa;
}

#listed ul {
	margin-top:200px;
}
#listed ul li {
	list-style: none;
	padding-bottom: 30px;
}
#listed img:hover {
	opacity: .8;
}
#listed .col-md-9 {
	margin-top: -25px;
}

/*.ListOver {
	position: relative;
	top: 0px;
	left: -100px;
	width: 100%;
	height: 100%;
	background-color: #f90;
	opacity: .5;
	display: none;
	cursor: pointer;
}*/

/*.box .overlay {
	display:none;
}

​.box:hover .overlay {
	display:block;   
}​*/

#more {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 200px;
	width: auto;
	height: auto;
	background-color: #254B7F;
	color: #fff;
	padding: 20px;
	display: none;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.grid-item { 
	height: auto;
	padding: 10px;
	/*margin: 0 10px 0 0;*/
	width: 230px;
	background-color: #f90;

	vertical-align: top;
	display: inline-block;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
